html{
    background-color: #17181b;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height:15vh;
    background-color: yellow;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navigation {
    margin-left: 10px;
    padding: 0 ;
    list-style: none ;
    text-align: left ;
}

#navigation li {
    display: inline;
    margin-right: 1px ;
    background:yellow ;
}

  #navigation li a {
    padding: 4px 20px ;
    background:yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center ;
    text-decoration: none ;
}

main{
    height: 85vh;
    flex-grow: 1;
    overflow: scroll;
}

section{
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 100px;
}

section div{
    margin: 10px;
}

img{
    border-radius: 10px;
    height: 400px;
    width: 300px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: transform 0.5s;
}

section img:hover{
    border: 6px solid #2b17d8;
    transform-origin: top 0 left 0;
    transform: scale(1.25);
}

.backPop{
    top: 0;
    left: 0;
    height: 300vh;
    width: 300vh;
    position: fixed;
    background-color: rgba(188,183,183,0.75);
}

.popup{
    background-color: #17181b;
    height: 52vh;
    width: 100vh;
    margin-left: 50vh;
    margin-top: 20vh;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.popup h3{
    color: white;
    margin-left: 2vh;
}

.popup p{
    color: white;
    margin-left: 40vh;
}

.popup img{
    float: left;
    margin-left: 2vh;
    margin-bottom: 2vh;

}

.popup button{
    background-color: #126B81;
    border: 2px solid #126B81;
    color: white;
    width: 100vh;
    clear: both;
    border-radius: 8px;
    font-size: 24px;
    padding: 14px 40px;
    cursor: pointer;
}

.popup button:active {
    background-color: #126B81;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


@media screen and (max-width: 350px){
    section{
        flex-direction: column;
    }

    img{
        height: 200px;
        width: 150px;
    }

    #navigation{
        display: none;
    }
}

@media screen and (max-width: 751px) and (min-width: 351px){
    section{
        flex-direction: column;
    }

    img{
        height: 300px;
        width: 250px;
    }

    #navigation{
        display: none;
    }
}

@media screen and (max-width: 1600px) and (min-width: 751px){
    img{
        height: 200px;
        width: 150px;
    }

    div{
        height: 260px;
        width: 180px;
    }
}